<div class="page-header">
  <div>
    <h1>Upravljanje korisnicima</h1>
    <p>Dodjela organizacione jedinice i radnog mjesta korisnicima</p>
  </div>
</div>

@if (isLoading()) {
  <div class="loading-wrapper">
    <mat-spinner diameter="40"/>
  </div>
} @else {
  <table mat-table [dataSource]="korisnici()" class="korisnici-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Korisnik</th>
      <td mat-cell *matCellDef="let k">
        <div class="user-cell">
          <div class="avatar-small">
            @if (k.slika) {
              <img [src]="apiUrl + '/' + k.slika" [alt]="k.name"/>
            } @else {
              <mat-icon>person</mat-icon>
            }
          </div>
          <span>{{ k.name }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let k">{{ k.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Uloge</th>
      <td mat-cell *matCellDef="let k">
        <div class="role-chips">
          @for (r of k.role; track r) {
            <mat-chip class="role-chip role-{{ r }}">{{ r }}</mat-chip>
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="organizacija">
      <th mat-header-cell *matHeaderCellDef>Org. jedinica</th>
      <td mat-cell *matCellDef="let k">
        @if (k.organizacionaJedinica) {
          <span class="assigned">{{ k.organizacionaJedinica.naziv }}</span>
        } @else {
          <span class="unassigned">Nije dodijeljeno</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="radnoMjesto">
      <th mat-header-cell *matHeaderCellDef>Radno mjesto</th>
      <td mat-cell *matCellDef="let k">
        @if (k.radnoMjesto) {
          <div>
            <span class="assigned">{{ k.radnoMjesto.naziv }}</span>
            <br>
            <small class="razred">Razred {{ k.radnoMjesto.platniRazred }}</small>
          </div>
        } @else {
          <span class="unassigned">Nije dodijeljeno</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="akcije">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let k">
        <button mat-icon-button color="primary"
          matTooltip="Dodjeli org. jedinicu i radno mjesto"
          (click)="otvoriDodjelu(k)">
          <mat-icon>assignment_ind</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="kolone"></tr>
    <tr mat-row *matRowDef="let row; columns: kolone;"></tr>

  </table>
}
